<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eng">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eng">
        <service
            android:name=".ServiceNotice"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".OpenDirActivity2"
            android:label="@string/title_activity_open_dir2"
            android:theme="@style/Theme.Eng.NoActionBar" />
        <activity android:name=".CatalogActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".RepetitionActivity" />
        <activity android:name=".OpenDirActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>